* {
padding:0;
margin:0;
}
body{
	margin: 0;
	line-height: 1.5;
	text-align: center;
	font-family: arial, 'Microsoft Yahei', sans-serif;
}
 .container {
 	margin: 0 auto; 
 	width: 960px
}
.front-cover{
	background-image: url(img/2.jpg);
	background-size: 100%;
	background-repeat: no-repeat; 
}
.front-cover .blank{
	height: 35px;
}
.front-cover .title {
	background: rgba(255, 255, 255, 0.15);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#0FFFFFFF,endcolorstr=#0FFFFFFF);/*后的filter为兼容IE*/
	margin: 0px auto ;
	width: 540px;
	height: 54px;
	color:#FFFFFF;
	font-weight: 600;
	font-size: 36px;
}
.front-cover .container .search{
	width: 840px;
	height: 140px;
	margin: 10px auto;
	padding-top: 20px; 
	background: rgba(255, 255, 255, 0.45);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#2DFFFFFF,endcolorstr=#2DFFFFFF);/*后的filter为兼容IE*/
	border-radius: 4px;
}
.front-cover .container .search .search-option{
	color: #000000;
	padding:3px;
	padding-left: 8px;
	font-size: 16px;
	font-weight: 200;
	height: 33px;
	text-align: center;
}
.front-cover  .container .search .search-option> div {
	float: left;
	width: 10%;
	line-height: 33px;
	margin-left: 15px;
	text-align: center;
}
.front-cover .container .search .search-option .select {
	background: rgba(255, 255, 255, 0.75);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4BFFFFFF,endcolorstr=#4BFFFFFF);/*后的filter为兼容IE*/
}
.front-cover .container .search .arrow{
		height: 7px;
		text-align:center;
}
.front-cover .container .search .arrow .sbottom{
	position: absolute;
	width:25px;
	height: 7px;
	background:url(img/03.jpg) no-repeat;
}
.front-cover  .container .search .left{
	margin-left:25px;
	float: left;
	display:inline;
	width: 73%;
}
.front-cover  .container .search .left .search-box{
	padding-left: 15px;
	width: 101%;
	height: 53px;
	border: 0px solid white; 
	border-radius: 4px;
}
.front-cover  .container .search .center{
	overflow: auto;
	float: left;
	display:inline;
	width:8%;
}
.front-cover  .container .search .right{
	overflow: auto;
	float: left;
	display:inline;
	width:15%;
}
.front-cover  .container .blank{
	height: 20px;
	widows: 100%;
}
.three-option{
	margin:10px auto;
	width: 960px;
	text-align: center;
}
.three-option .release-news {
	width: 253px;
	padding: 0px 8px;
	float: left;
}
.three-option .release-news .rn{
	height: 42px;
	line-height: 43px;
	padding:20px 0px;
	text-align: center;
	font-size: 25px;
}
.three-option .release-news .pen{
	background:url(img/8.jpg) no-repeat;
	background-position: center;
	width:100%;
	height: 242px;
}
.three-option .release-news .pen .photo1{
	margin:auto;
	padding-top: 31%;
}
.three-option .release-news .rndetail{
	font-size: 12px;
}
.three-option .release-news .gorelease{
	font-size: 14px;
	color: rgb(92,166,254);
	text-align: center;
}
.three-option .message-list {
	width: 253px;
	padding: 0px 8px;
	float: left;
}
.three-option .message-list .ml{
	height: 42px;
	line-height: 43px;
	padding:20px 0px;
	text-align: center;
	font-size: 25px;
}
.three-option .message-list .list{
	background:url(img/9.jpg) no-repeat;
	background-position: center;
	width:100%;
	height: 242px;
	text-align:center;
}
.three-option .message-list .list .photo2{
	margin:auto;
	padding-top: 31%;
}
.three-option .message-list .mldetail{
	font-size: 12px;
}
.three-option .message-list .goshare{
	font-size: 14px;
	color: rgb(92,166,254);
	text-align: center;
}
.three-option .personal-center {
	width: 253px;
	padding: 0px 8px;
	float: left;
}
.three-option .personal-center .pc{
	height: 42px;
	line-height: 43px;
	padding:20px 0px;
	text-align: center;
	font-size: 25px;
}
.three-option .personal-center .people{
	background:url(img/10.jpg) no-repeat;
	background-position: center;
	width:100%;
	height: 242px;
}
.three-option .personal-center .people .photo3{
	text-align:center;
	margin:auto;
	padding-top: 31%;
}
.three-option .personal-center .pcdetail{
	font-size: 12px;
}
.three-option .personal-center .gomanage{
	font-size: 14px;
	color: rgb(92,166,254);
	text-align: center;
}
#footer {
	overflow: auto;
	background: rgb(47, 109, 183);
	background:#2f6db7;
	width: 100%;
	color: #FFF;
	padding: 10px 0;
}
#footer .copyright{
	height: 28px;
	line-height: 33px;
	text-align: center;
	font-size: 14px;
}
