* {
padding:0;
margin:0;
}
body{
	margin: 0;
	line-height: 1.5;
	min-width: 1024px;
	font-family: arial, 'Microsoft Yahei', sans-serif;
}
.front-cover{
	background-image: url(img/2.jpg);
	background-size: 100%;
	background-repeat: no-repeat; 
}
.front-cover .blank{
	height: 35px;
}
.front-cover .title {
	margin: 0px auto ;
	width: 680px;
	height: 54px;
	color:#FFFFFF;
	font-weight: 600;
	font-size: 36px;
	z-index: 101;
	background: rgba(255, 255, 255, 0.15);
}
.front-cover .search{
	width: 840px;
	height: 140px;
	margin: 10px 180px;
	padding-top: 20px; 
	background: rgba(255, 255, 255, 0.45);
	border-radius: 4px;
}
.front-cover .search .search-option{
	color: #000000;
	padding:7px;
	font-size: 16px;
	font-weight: 200;
	height: 33px;
	text-align: center;
}
.front-cover .search .search-option> div {
	float: left;
	width: 10%;
	line-height: 33px;
	margin-left: 15px;
}
.front-cover .search .search-option .select{
	line-height: 33px;
	width: 10%;
	text-align: center;
}
.front-cover .search .search-option .select .stop{
	background: rgba(255, 255, 255, 0.75);
}
.front-cover .search .left{
	margin-left:25px;
	float: left;
	width: 73%;
}
.front-cover .search .left .search-box{
	width: 101%;
	height: 53px;
	border: 0px solid white; 
	border-radius: 4px;
}
.front-cover .search .center{
	overflow: auto;
	float: left;
	width:8%;
}
.front-cover .search .right{
	overflow: auto;
	float: left;
	width:15%;
}
.front-cover .blank{
	height: 20px;
	widows: 100%;
}
.three-option{
	margin:10px auto;
	width: 960px;
	text-align: center;
}
.three-option .release-news {
	padding-left: 40px;
	width: 25%;
	margin-right: 0px;
	margin-left: 0px;
	float: left;
}
.three-option .release-news .rn{
	height: 42px;
	line-height: 43px;
	padding:20px 0px;
	text-align: center;
	font-size: 25px;
}
.three-option .release-news .pen{
	background:url(img/8.jpg) no-repeat;
	position: relative;
	width:100%;
	height: 242px;
}
.three-option .release-news .pen .photo1{
	position: relative;
	text-align:center;
	margin:auto;
	padding-top: 32%;
}
.three-option .release-news .rndetail{
	font-size: 12px;
}
.three-option .release-news .gorelease{
	font-size: 14px;
	color: rgb(92,166,254);
	text-align: center;
}
.three-option .message-list {
	float: left;
	padding-left: 40px;
	width: 25%;
}
.three-option .message-list .ml{
	height: 42px;
	line-height: 43px;
	padding:20px 0px;
	text-align: center;
	font-size: 25px;
}
.three-option .message-list .list{
	background:url(img/9.jpg) no-repeat;
	position: relative;
	width:100%;
	height: 242px;
}
.three-option .message-list .list .photo2{
	position: relative;
	text-align:center;
	margin:auto;
	padding-top: 32%;
}
.three-option .message-list .mldetail{
	font-size: 12px;
}
.three-option .message-list .goshare{
	font-size: 14px;
	color: rgb(92,166,254);
	text-align: center;
}
.three-option .personal-center {
	overflow: auto;
	padding-left: 40px;
	width: 25%;
}
.three-option .personal-center .pc{
	height: 42px;
	line-height: 43px;
	padding:20px 0px;
	text-align: center;
	font-size: 25px;
}
.three-option .personal-center .people{
	background:url(img/10.jpg) no-repeat;
	position: relative;
	width:100%;
	height: 242px;
}
.three-option .personal-center .people .photo3{
	position: relative;
	text-align:center;
	margin:auto;
	padding-top: 32%;
}
.three-option .personal-center .pcdetail{
	font-size: 12px;
}
.three-option .personal-center .gomanage{
	font-size: 14px;
	color: rgb(92,166,254);
	text-align: center;
}
#footer {
	overflow: auto;
	background: rgb(47, 109, 183);
	width: 100%;
	color: #FFF;
	padding: 10px 0;
}
#footer .copyright{
	height: 28px;
	line-height: 33px;
	text-align: center;
	font-size: 14px;
}
