body{
	margin: 0;
	line-height: 1.5;
}
.header {
	background:#2E2E2E;
	height: 40px;
}
.header a{
	color:#FFFFFF;
	margin-left:120px;
	font-weight: 150;
	font-size: 22px;
	opacity: 0.8;
}
#FrontCover {
	position: relative;
}
#FrontCover{
	display: block;
}
#FrontCover .sphoto{
	position: absolute;
	left: 20px;
	bottom: 0;
	z-index: 101;
}
#FrontCover .ssphoto{
	position: absolute;
	left: 60px;
	bottom: 0;
	z-index: 101;
}
.ul1 li{
	overflow:hidden;
	margin-bottom:8px;
}
.ul1 {
	padding:0px 15px;
}
.name h1{
	margin:0;
	color:#626a73;
	font-size:15px;
	float:left;
	opacity: 0.7;
}
.name a{
	margin-left:16px;
	margin-top: 2px;
	padding-top:1px;
	padding-left:2px;
	border-radius:2px;
	height:16px;
	width: 65px;
	float:left;
	background:#51b8f2;
	font-size:12px;
	color:#FFFFFF;
}
.title {
	color:c6c9cc;
	font-size:11px;
	padding-bottom: 8px;
}
.abstract{
	color:c6c9cc;
	font-size:12px;
}
.arraw { 
	margin-top:-30px;
	margin-right:33px;
	float:right;
}
.choice{
	height:25px;
}
.ul2{
	padding:0px 15px;
	margin-bottom: 10px;
}
.ul2 li{
	color:#FFFFFF;
	float: left;
	margin-left:6px;
	padding:2px 12px;
	overflow:hidden;
	background:#dadfe5;
	border-radius:20px;
	font-size:10px;
}
.twochoice{
	color:rgb(151,159,165);
	font-size: 14px;
	height: 43px;
	border-top: 1px solid #DADFE5;
	border-bottom: 1px solid #DADFE5;
	padding: 0 20px;
}
.twochoice  > div {
	float: left;
	height: 42px;
	line-height: 43px;
	margin-right: 25px;
}
.twochoice .selected {
	color: #51B7F1;
	border-bottom: 2px solid #51B7F1;
}
.article .left{
	overflow: auto;
	margin-left:15px;
	margin-top:15px;
	float:left;
	width: 65%
}
.article .left h1{
	margin-bottom:10px;
	color:#626a73;
	font-size:13px;
}
.article .left a{
	font-size:13px;
	opacity:0.4;
}
.article .left p{
	font-size:10px;
	opacity:0.5;
}
.article .right{
	margin-left:15px;
	margin-top:15px;
	float:left;
	width: 26%
}
#footer {
	position: fixed;
	bottom: 0;
	overflow: auto;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	color: #FFF;
	padding: 10px 0;
}
#footer .left {
	width: 40px;
	float: left;
	margin-left: 15px
}
#footer .center {
	float: left;
	padding-top: 3px;
	padding-left: 10px;
	width: 160px;
}
#footer .right {
	margin-left: 230px;
	margin-right: 15px;
	margin-top: 4px;
}
#footer .line1 {
	font-size: 14px;
}
#footer .line2 {
	font-size: 14px;
}
#footer .button {
	font-size: 13px;
	min-width: 70px;
	line-height: 34px;
	height: 34px;
	text-align: center;
	background: #51B7F1;
	border-radius: 3px;
	width: 100%;
}
#footer a {
	float: right;
	display: block;
	width: 90%;
	color: #FFF;
	font-size: 13px;
}








